@model IEnumerable<DoAnCnpm.Models.Category>


<style>
    .cates {
        padding: 0 20px;
        border-right: 1px solid #dadada;
    }

    .cate-item {
        border-bottom: 1px solid #dadada;
    }

        .cate-item .a {
            color: #000;
            font-size: 18px;
            text-decoration: none;
        }

        .cate-item:hover {
            background-color: #5fcf86;
            transition: all 0.3s ease-in-out;
        }

            .cate-item:hover .a {
                color: #fff;
            }
</style>

<ul class="cates nav flex-column">
    @{
        foreach (var item in Model)
        {
            <li class="cate-item nav-item">
                @Html.ActionLink(item.NameCate, "Index", "Product", new { @class= "nav-link active", category = item.NameCate.Trim() }, "")
            </li>
        }
    }
</ul>



