
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/TrangDatXe.cshtml";
}

<div class="">
<h2>CheckOut Successfull</h2>
<h4>Sau khi đặt hàng hãy đến trụ sở bạn đặt xe để hoàn tất thủ tục và bàn giao xe</h4>
<a href="@Url.Action("Index","Product")">Continue Shopping...</a></div>

