@model IEnumerable<DoAnCnpm.Models.Category>

<link rel=" stylesheet" href="~/Content/mystyle.css"/>

<ul class="cates nav flex-column">
    @foreach (var item in Model)
    {
        <li class="cate-item nav-item">
            @Html.ActionLink(item.NameCate, "ProductList", "Product", new { id = item.Id }, new { @class = "nav-link active" })
        </li>
     }
</ul>
