@{
    ViewBag.Title = "Profile Page";
    Layout = "~/Views/Shared/TrangDatXe.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center;">
        <h2>Trang profile</h2>
        <h3>Email: @Session["UserCus"].ToString()</h3>
        <h3>IDCus: @Session["UserId"].ToString()</h3>
        <p>Login thành công</p>
        <a href="@Url.Action("Index","Product")">Đi đến trang chủ</a>
        <a class="btn btn-primary" href="@Url.Action("LogOut","Login")">Đăng xuất</a>
    </div>
</body>
</html>